@model MattProject.Models.UserModel

@{
    ViewBag.Title = "Secret";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You are logged in</h2>

<div>
    <div onclick="getNumberOfLogAttempts(@Model.UserId)" style="cursor: pointer"><span>How many times have I logged in?</span></div>
    <div id="logged-in-amount"></div>
</div>

<div>
    <span>Get date and time for log number: </span><input type="text" id="attempt-number"/>
    <button onclick="getLogInAttempt()">Get date/time</button>
    <div id="logged-in-data"></div>
</div>





<script>
    
    var getNumberOfLogAttempts = function(userId) {
        $.get("/getnumberofloginattempts/" + userId, function(data) {
            $('#logged-in-amount').html('<span>' + data + "</span>");
        });
    }

    var getLogInAttempt = function () {
        var logInNumber = $('#attempt-number').val();
        $.get("/getloginattempt/" + logInNumber, function (data) {
            $('#logged-in-data').html('<span>This login happened on: ' + data.DateTime + '</span>');
        });
    }




</script>

